body {
    /* background-image: url("https://cdn.vox-cdn.com/uploads/chorus_image/image/59370373/Institute_of_War.0.jpg"); */
    background-size: cover;
    background-repeat: no-repeat repeat;
    background-position: center center;
    box-shadow: inset 0px 4px 250px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

header{
  width: 100%;
  text-align: center;
  justify-content: center;
  display: inline-block
}
.button-text{
  position: relative;
  width: 132.17px;
  height: 50.96px;
  font-family: Jacques Francois;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 38.2184px;
  text-align: justify;
  text-shadow: 0px 3.18487px 3.18487px rgba(0, 0, 0, 0.25);
}

section{
  display: inline-block;
  width: 100%;
  justify-content: center;
}

.lol-logo{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 
p{
  color: aqua;
  display: table-cell;
  border-radius: 20PX;
  border-block-end-color: blueviolet;
 }

 li{
  float: left;
  list-style: none;
  padding: 10px;
  text-align: center;
 }
 nav{
  margin-right: 250px;
 }
 .button-text{
  position: relative;
  width: 269.12px;
  height: 50.96px;
  font-family: Jacques Francois;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 38.2184px;
  text-align: justify;
  text-shadow: 0px 3.18487px 3.18487px rgba(0, 0, 0, 0.25)
 }
 li:hover{
  background-color: aqua;
  border-radius: 10px;
 }
 li a:hover{
  color: aliceblue;
 }
 label{
  color: blue;
  margin: 20px;
 }

 .formulario {
text-align: center;
 }

 .champions-card-group{
  display:flex;
  flex-flow:row wrap;
  background-color: #937341;
  align-items: stretch;
  /* justify-items: stretch; */
}

.champion-card{
border: 2px solid #463418;
text-align: center;
text-justify: inter-word;
background-color: #DFB879;
text-decoration: none; /*eliminar las lineas de los href*/
padding: 1% 1%;
/* display: inline-block; */
max-width: 100%;
width: 100px;
height: 80px;
flex-grow: 1;
vertical-align: top; /*colocaar las cards en top*/
/* flex-basis:0; */

}
.champion-modal {
  
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo */
  z-index: 1; /* Siempre al frente */
  padding-top: 5rem; /* Location of the box */
  margin: auto;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.champion-info{
  position: absolute;
  bottom: 20%;
  left:15%;
  color: white;
  background-color: black;
}
.modal-splash {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 800px;
}
.modal-close{
  background-color: #002;
}