body {
  background-size: cover;
  background-repeat: no-repeat repeat;
  background-position: center center;
  background: #000A0A;
  border-radius: 17px;
  text-align: center
}

header{
width: 100%;
text-align: center;
justify-content: center;
display: inline-block
}
.button-text{
position: relative;
width: 132.17px;
height: 50.96px;
font-family: Jacques Francois;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 38.2184px;
text-align: justify;
text-shadow: 0px 3.18487px 3.18487px rgba(0, 0, 0, 0.25);
}

section{
display: inline-block;
width: 100%;
justify-content: center;
}

.lol-logo{
width: 400px;
display: block;
margin-left: auto;
margin-right: auto;
}

li{
float: left;
list-style: none;
padding: 10px;
}
nav{
margin-right: 250px;

}
a{
text-decoration: none;
color: #AA913E;
padding: 10px;
text-decoration: underline;

}
li:hover{
background-color: rgba(88, 92, 31, 0.822);
border-radius: 10px;
}
li a:hover{
color: aliceblue;

}
label{
color:  rgba(97, 102, 28, 0.932);
margin: 20px;

}

.formulario {
text-align: center;
}

.champions-card-group{
display:flex;
flex-flow:row wrap;
background-color: #937341;
align-items: stretch;
/* justify-items: stretch; */
}

.champion-card{
border: 2px solid #463418;
text-align: center;
text-justify: inter-word;
background-color: #DFB879;
text-decoration: none; /*eliminar las lineas de los href*/
padding: 1% 1%;
/* display: inline-block; */
max-width: 100%;
width: 100px;
height: 80px;
flex-grow: 1;
vertical-align: top; /*colocaar las cards en top*/
/* flex-basis:0; */

}
.champion-modal {

display: none; /* Oculto por defecto */
position: fixed; /* Fijo */
z-index: 1; /* Siempre al frente */
padding-top: 5rem; /* Location of the box */
margin: auto;
top: 0;
left: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.champion-info{
position: absolute;
bottom: 20%;
left:15%;
color: white;
background-color: black;
}
.modal-splash {
margin: auto;
display: block;
width: 100%;
max-width: 800px;
}
.modal-close{
background-color: #002;
}
p{
text-align: center;
width: 269.12px;
height: 50.96px;
left: 583px;
top: 228px;

font-family: Enriqueta;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 38.2184px;
text-align: justify;

color: #AA913E;

text-shadow: 0px 3.18487px 3.18487px rgba(0, 0, 0, 0.25);
}
pre{
color:#FFFFFF;
display: table-cell;
border-radius: 40px;
text-align: center;
}

.subtitulo{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lol-img1{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .subtitulo1{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #AA913E;
  }
  .pre1{
    display: block;
    text-align: center;
    }
  .subtitulo2{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #7E602A;;
   
  }
  .pre2{
  display: block;
  text-align: auto;
  line-height: 1;
  color: #F2C093;
  }
  .boton-personalizado{
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgba(208, 154, 45, 0.77);
  border: rgba(208, 154, 45, 0.77) 1px solid;
    
  }
  .lol-img2{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: blur(10px);
  }
 video{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pantalla1{
    border: rgba(100, 74, 21, 0.77) 1px solid;
  }
 