body {
    background-image: url("http://i.imgur.com/OBOcg19.jpg");
    background-size: cover;
    background-repeat: no-repeat repeat;
    background-position: center center;

}

header{
  background-color: #000;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: inline-block
}

section{
  display: inline-block
  width: 100%;
  justify-content: center;
}

.lol-logo{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 
p{
  color: aqua;
  display: table-cell;
  border-radius: 20PX;
  border-block-end-color: blueviolet;
 }

 li{
  float: left;
  list-style: none;
  padding: 10px;
 }
 nav{
  margin-right: 250px;
 }
 a{
  text-decoration: none;
  color: blue;
  padding: 10px;
 }
 li:hover{
  background-color: aqua;
  border-radius: 10px;
 }
 li a:hover{
  color: aliceblue;
 }
 label{
  color: blue;
  margin: 20px;
 }

 .formulario {
text-align: center;
 }


.champions-card-group{
  display:flex;
  flex-flow:row wrap;
  padding: 5%;
  background-color: #937341;
  align-items: stretch;
  /* justify-items: stretch; */
}

.champion-card{
border: 2px solid #463418;
text-align: center;
text-justify: inter-word;
background-color: #DFB879;
text-decoration: none; /*eliminar las lineas de los href*/
padding: 1% 1%;
/* display: inline-block; */
width: 100px;
height: 80px;
flex-grow: 1;
vertical-align: top; /*colocaar las cards en top*/
/* flex-basis:0; */

}

.modal-close{
  background-color: #002;

}
